* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-logo-sidebar {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 250px;
    background-color: #FCC404;
    padding: 20px;
    position: fixed;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.opcao-sidebar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

.opcao-sidebar.active {
    background-color: #FDEAA8;
    color: #FCC404;
    border: 2px solid #fff;
    border-radius: 10px;
}

.opcao-sidebar:hover {
    background-color: #FDEAA8;
    color: #FCC404;
    border-radius: 10px;
    transform: scale(1.02);
}

.linha-sidebar {
    height: 1.7px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.sidebar-footer {
    margin-top: auto;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.logout-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    height: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
}

.logout-button:hover {
    background-color: #FDEAA8;
    color: #FCC404;
    transform: scale(1.02);
}